/* ====================================

	Yose Modal
	Author: Klerith
	version: 1.0

==================================== */
@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);


/*======================================
    Yose Background
======================================*/
    .YoseBg{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 99998;
        opacity: 0;
    }


/*======================================
    Yose Modal
======================================*/

.YoseModalBox{
    background-color: #ececec;
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 70px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 70px 0 rgba(0,0,0,0.5);
    overflow: hidden;
    z-index: 99999;
    opacity: 0;
}



.YoseTopBar{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    height: 20px;
}


.YoseButton{
    cursor: pointer !important;
}

.YoseRed{
    color: #f2664b;    
    cursor: pointer !important;
}

.YoseYellow{
    color: #f9c300;
}

.YoseGreen{
    color: #55cc04;
}

.YoseGray{
    color: #999999;
}

.YoseWindowButtons{
    padding-left: 2px;
    padding-top: 3px;
    position: absolute;
    z-index: 99;
}

.YoseWindowTitle{
    width: 100%;
    float: left;
    position: relative;
    top: 4px;
    font-size: 14px;
    font-weight: lighter;
    color: #292929;
}

.YoseContent{
    height: 100%;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 14px;
    margin-top: 10px;
}

.YoseContentIframe{
    position: relative;
    top: 8px;
    width: 100%;
    height: 100%;
    margin-top: 7px;
}
    
.YoseLoading{
    color: #f4f4f4;
    position: relative;
    font-size: larger;
    font-weight: bolder;
} 

.YoseIframe{
    position: relative;
    /*top: -14px;*/
    /*height: 100% !important;*/
    width: 100%;
    display: none;
    overflow: hidden;
}

.YoseContentIframe iframe{
    position: relative;
    height: 100%;
    width: 100%;
    border: 0px;
    
}

.scroll-wrapper {
    -webkit-overflow-scrolling: touch !important;
    overflow-y: scroll !important;
}



.type2 .YoseContent{
    background-color: white;
}

.type2 .YoseIconImage{
    margin-top: 25px;
}


/*=========================
    Image or Icon
===========================*/
.YoseIconImage{
    float: left;
    padding-left: 5px;
    padding-right: 15px;
    margin-top: 10px;
    margin-bottom: -5px;
}

.YoseIconImage img{
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
}

.YoseModalRound{
    -webkit-border-radius: 100%;
    border-radius: 100%;
    margin-bottom: 10px;
}


/*=======================
        Min Container
=======================*/
#divYoseMinContainer{
    position: fixed;
    z-index: 999;
    bottom: 10px;
    left: 0px;
}

.YoseModalBoxMini{
    position: relative;
    float: left;
    width: 65px;
    height: 70px;
    margin-left: 20px;
    background-color: #ececec;
    font-family: 'Open Sans', sans-serif;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 70px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 70px 0 rgba(0,0,0,0.5);
    overflow: hidden;
}

.YoseModalBoxMini .YoseIconImage{
    margin-left: 3px;
}

.YoseMini{
    width: 35px !important;
    height: 35px !important;
    margin-left: 7px;
}

.YoseModalBoxMini .YoseIconImage .fa{
    color: #646464;
    font-size: 30px !important;
    margin-left: 10px;
    margin-bottom: 12px;
}

.YoseModalBox .YoseIconImage .fa{
    color: #646464;
    font-size: 30px !important;
    margin-left: 10px;
    margin-bottom: 12px;
}


/*=====================================
    Yose Modal Div transformation
=====================================*/
.YoseModalDiv, .yosemodaldiv{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    display: none;
}





/*====================
    PopUp Themes
====================*/

/*============
    Black
============*/
.YoseModalBox.black .YoseWindowTitle{
    color: white;
}

.YoseModalBox.black, .YoseModalBoxMini.black{
    color: white;
    background-color: rgba(0,0,0,1);
}

.YoseModalBox.black.type2 .YoseContent{
    background-color: white;
    background-color: rgba(0,0,0,1);
}

.black.type2 .YoseWindowTitle{
    color: #bababa;
    font-size: 14px;
    font-weight: normal;
}

.YoseModalBoxMini.black .YoseIconImage .fa, .YoseModalBox.black .YoseIconImage .fa{
    color: white !important;
}


/*============
    White
============*/
.YoseModalBox.white{
    color: black;
    background-color: #ececec;
}


/*============
    Purp
============*/
.YoseModalBox.purp, .YoseModalBoxMini.purp{
    color: white;
    background-color: #662d91;
}

.YoseModalBox.purp .YoseWindowTitle{
    color: white;
}

.YoseModalBoxMini.purp .YoseIconImage .fa, .YoseModalBox.purp .YoseIconImage .fa{
    color: white !important;
}


/*============
    Pink
============*/
.YoseModalBox.pink, .YoseModalBoxMini.pink{
    color: white;
    background-color: #ec008c;
}

.YoseModalBox.pink .YoseWindowTitle{
    color: white;
}

.YoseModalBoxMini.pink .YoseIconImage .fa, .YoseModalBox.pink .YoseIconImage .fa{
    color: white !important;
}



/*============
    Green
============*/
.YoseModalBox.green, .YoseModalBoxMini.green{
    color: white;
    background-color: #0E7238;
}

.YoseModalBox.green .YoseWindowTitle{
    color: white;
}

.YoseModalBoxMini.green .YoseIconImage .fa, .YoseModalBox.green .YoseIconImage .fa{
    color: white !important;
}

/*============
    Red
============*/
.YoseModalBox.red, .YoseModalBoxMini.red{
    color: white;
    background-color: #d3171e;
}

.YoseModalBox.red .YoseWindowTitle{
    color: white;
}

.YoseModalBoxMini.red .YoseIconImage .fa, .YoseModalBox.red .YoseIconImage .fa{
    color: white !important;
}



/*============================================
        Small screens
============================================*/
@media screen and (max-width: 450px) and (max-width: 767px) {

    .YoseContent{
        font-size: 13px;
    }
    
}