
/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */



/* ===========================================================
   GENERAL STYLESHEET BY BYINARY THEME    
   ============================================================*/


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #5c5c5c;
    line-height: 16px;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    line-height: 40px;
}

h1 {
    font-weight: 800;
}

h5 {
    padding-bottom: 30px;
}

.text-center {
    text-align: center;
}

.main-top-margin {
    margin-top: 120px;
}

.main-low-margin {
    margin-top: 55px;
}

a, a:hover {
    text-decoration: none;
    color: #5c5c5c;
    background:transparent;
}

p {
    line-height: 30px;
    margin-bottom: 23px;
}

.img-margin-product {
    margin-top: 30px;
}

.bottam-pad {
    padding-bottom: 40px;
}

.space-bottom {
    height: 120px;
}

.space-top {
    height: 70px;
}

.main-icon {
    font-size: 350px;
    color: rgba(102, 110, 197, 1);
}

.head-line {
    font-size: 70px;
    padding-bottom: 50px;
    line-height: 65px;
    font-weight: 900;
}

.clearfix {clear:both;}


/* ==========================================================================
   PRICE SECTION
   ========================================================================== */

.active {
    background: #EB8F2D!important;
}

#pricing-section .plan-main {
    background: #31B2D3;
    list-style: none;
    margin: 0 0 20px;
    text-align: center;
    padding: 0;
    border-bottom: 1px solid #e1e1e1;
}

    #pricing-section .plan-main li {
        padding: 10px 0;
        margin: 0 15px;
        border-bottom: 1px dashed #eee;
    }

        #pricing-section .plan-main li.plan-name {
            padding: 15px 0;
            font-size: 18px;
            font-weight: 700;
        }

        #pricing-section .plan-main li.plan-price {
            color: #666;
            padding: 15px 0;
            font-size: 48px;
        }

        #pricing-section .plan-main li.plan-action {
            margin-top: 20px;
            margin-bottom: 20px;
            border-bottom: 0;
        }

    #pricing-section .plan-main.featured {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
    }

        #pricing-section .plan-main.featured .plan-price {
            color: #fff;
            background-color: #52b6ec;
            border-bottom-color: #52b6ec;
            margin: 0;
        }



/*==========================================
   SOCIAL ICON STYLES
    =====================================================*/


.color-facebook {
    color: #3B5998;
}

.color-twitter {
    color: #00aced;
}

.color-google-plus {
    color: #dd4b39;
}

.color-linkedin {
    color: #007bb6;
}

.color-pinterest {
    color: #cb2027;
}
/* ===========================================================
   BOOTSTRAP ELEMENTS CHANGES   
   ============================================================*/
.navbar {
    font-weight: 500;
    font-size: 14px;
    border:0px !important;
}


/* ==========================================================================
   PARALLAX STYLES
   ========================================================================== */
section {
    position: relative;
    width: 100% !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

    section:nth-of-type(1) {
        background: #FAFAFA;
        height: 300px;
    }

    section:nth-of-type(2) {
        background: #FAFAFA;
        height: 300px;
    }


section article {
    position: absolute;
    left: 80px;
    width: 100%;
    z-index: 4;
    color: #fff;
    font-size: 20px!important;
    padding: 20px;
}

    section article span {
        line-height: 40px!important;
        font-weight: 600!important;
    }
/* ==========================================================================
   HOME SECTION
   ========================================================================== */
.navbar-toggle {border-color: #fff;}
.navbar-toggle .icon-bar {background-color: #fff;}
.hotline {    padding:16.5px 15px; font-family: 'pt_sansbold';}
.hotline span {margin-right: 5px;}

.head-open {border-radius: 10px; margin: 120px 0 30px 0; padding: 20px;}

.head-l {position: relative; }
.logo {position: absolute; left: 0%;  width: 150px; height: 150px; float: left; border-radius: 50%; background:#fff; top:27%;  z-index: 1;}
.logo  img { overflow: hidden; max-width: 80%; margin: 10% 10%;}
.logo-ket-wrap { position: relative; z-index:0; border-radius:10px; width: 91%; float: left; margin-left: 9%; font-size: 15px; border:1px solid #fff; background:rgba(255,255,255,0.2); padding: 20px;}
.logo-ket {margin-left: 11%; }
.logo-ket p {line-height: 20px;}
.logo-ket a {margin-left: 5px;font-family: 'pt_sansbold';}
.head-l h2 {margin: 0 0 0 10%; line-height: 40px; font-size: 40px; }

.head-r{margin-top: 3%;}
.head-r p {margin-bottom: 0; }
.agent-ket {margin-bottom: 20px;}
.agent-ket-l {float: left;font-family: 'pt_sansbold'; font-size: 17px; width: 25%; }
.agent-ket-r {float: right; font-size: 15px; line-height: 20px; width: 73%; margin-left: 2%; margin-top: 2%;}

.sambutan {width: 100%; float: left; margin-bottom: 60px;}
.sambutan i {float: left; position: absolute;}
.sambutan i.fa-quote-left { margin-right: 20px;  font-size: 40px; left: 0; top: 0;}
.sambutan i.fa-quote-right {margin-left: 20px; font-size: 40px;right: 2%; bottom: 8%;}
.sambutan-isi {float: left; position: relative;}
.sambutan-p {margin:0 8%;font-family: 'pt_sansitalic'; }
.sambutan-p p {line-height: 20px;font-size: 15px;}


.sambutan-r .sambutan-img {width: 150px; height: 150px;}
.sambutan-r .ch-img-1 {  background-size: 100%;}
.sambutan-r  .ch-item { width: 100%;  height: 100%; border-radius: 50%;   position: relative; cursor: default; box-shadow: inset 0 0 0 0 rgba(40, 113, 107, 0.4), inset 0 0 0 16px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.1);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.sambutan-r .ch-item:hover { box-shadow: inset 0 0 0 110px rgba(40, 113, 107, 0.4), inset 0 0 0 16px rgba(255,255,255,0.8), 0 1px 2px rgba(0,0,0,0.1);}
.sambutan-r .ch-item:hover .ch-info {opacity: 1; -webkit-transform: scale(1); -moz-transform: scale(1);  -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1);}
.sambutan-r .ch-info { position: absolute;  width: 100%; height: 100%; border-radius: 50%;  opacity: 0;  -webkit-transition: all 0.4s ease-in-out;  -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out;-ms-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; -webkit-transform: scale(0); -moz-transform: scale(0); -o-transform: scale(0); -ms-transform: scale(0); transform: scale(0); -webkit-backface-visibility: hidden;}
.sambutan-r .ch-info h3 {color: #fff; text-transform: uppercase; position: relative; letter-spacing: 2px;font-size: 15px;margin: 0 30px; padding: 0px 0 0 0; text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);}
.sambutan-r .ch-info p {color: #fff; padding: 5px 5px;font-style: italic; margin: 0 30px; font-size: 12px; border-bottom: 1px solid rgba(255,255,255,0.5); text-align: center;}
.sambutan-r .ch-info-m {margin-top: 20px;}
.sambutan-r h4 {font-size: 22px; text-align: center; line-height: 18px;}

/* ==========================================================================
   ABOUT SECTION
   ========================================================================== */
.about h1{ line-height: 40px; font-size: 40px; text-transform: uppercase;  text-align: center;}
.about h5 {padding-bottom: 10px; margin-top: 20px;}
.dl-btn {display: block; text-align: center; width: 100%;}
.dl-btn a {padding: 10px 30px; text-align: center; font-size: 20px; border-radius: 10px; display: inline-block;}

.why {margin:60px 0; border-radius: 10px;}
.why h2{ font-size: 30px; padding:0 20px; margin: -50px 0 0 20px; display: inline-block;}
.why-item h3 {text-align: center; font-size: 22px;}
.why-item p {text-align: center;}
.why-item {text-align: center;}
.why-item img {max-width: 100%;}


/* ==========================================================================
   Paket SECTION
   ========================================================================== */
.paket {margin-bottom: 40px; }
.paket h1{ line-height: 40px; font-size: 40px; text-transform: uppercase;  text-align: center; margin-bottom: 40px;}
.item-agent {margin-bottom: 20px;}
.item-agent .agent-wrap{ padding: 10px;}
.item-agent .agent-wrap.hvr-bob {display: block;}
.agent-img {width: 100%; }
.agent-img img {max-width: 100%;}
.paket-jalan,.jalur {margin-bottom: 10px;}
.paket-jalan h3 {display: block; margin-top: 0; text-align: center; }
.brgkt {width: 71%; margin: 0 auto 10px auto;}
.brgkt p{text-align: center; font-size: 16px; margin-bottom: 0; line-height: 20px;}
.brgkt span { margin-right: 5px;}
.brgkt i {float: left;
    text-align: center;
    display: block;
    font-size: 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);}
.brgkt.land i {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.agent-bwh {  padding: 10px 0;}
.btn-paket {width: 100%; text-align: center;}
.btn-paket a {font-family: 'pt_sansbold'; display: inline-block; text-align: center; border-radius: 5px; font-size: 16px; padding: 10px 30px;}

/* ==========================================================================
   Gallery SECTION
   ========================================================================== */
.gallery {margin-bottom: 60px;}
.gallery h1{ line-height: 40px; font-size: 40px; text-transform: uppercase;  text-align: center;}
.owl-slider{position: relative;}
.gallery .item{margin: 3px; display: block;}
.gallery .item img{display: block;width: 100%;height: auto;}
.owl-wrapper-outer { height: 150px; overflow: hidden;}
.owl-page.active {background: transparent !important;}

.owl-theme .owl-controls .owl-buttons div{position: absolute; top:28%; margin:0;padding: 10px 15px;font-size: 15px; border-radius: 0; opacity: 1.0; background: rgba(134,151,145,0.5);}
.owl-theme .owl-controls .owl-buttons div.owl-next{right: 4px;}
.owl-theme .owl-controls .owl-buttons div.owl-prev {left: 4px;}

div.pp_default .pp_gallery ,.pp_social {display: none !important;}


/* ==========================================================================
   TESTI SECTION
   ========================================================================== */
.testi {margin-bottom: 60px;}
.testi h1{ line-height: 40px; font-size: 40px; text-transform: uppercase;  text-align: center;}

.testi .carousel {margin-top: 40px;}
.testi .carousel .active {background: transparent !important;}
.testi-img { border-radius: 50%; width: 120px; height: 120px; margin: 0 auto; position: relative;}
.testi-img img{width: 100%; height:100%;border-radius: 50%;}
.test-quo {position: absolute; z-index: 1; top: 0; right: 0; width: 30px; height: 30px; border-radius: 50%; text-align: center; padding-top: 5px;}
.testi h3 { font-size: 22px; margin:5px 0; text-align: center;}
.star {display: block; text-align: center;}
.test-btn {width: 100%; text-align: center; margin-top: 10px}
.test-btn a {font-family: 'pt_sansbold'; display: inline-block; text-align: center; border-radius: 5px; font-size: 18px; padding: 10px 30px;}

.testi-isi p{line-height: 22px; font-size: 15px;}
.testi-brgkt p{display: inline-block; margin-right: 20px; margin-bottom: 10px; font-family: 'pt_sansbold'; }
.testi-brgkt p {font-size: 18px;}
.testi-brgkt p i {margin-right: 5px;}
.testi-rute p {font-family: 'pt_sansbold'; display: inline-block; margin-right: 20px; margin-bottom: 10px; font-size: 18px; }

.carousel-indicators {position: relative; margin-top: 20px;} 
.carousel-indicators li {width: 12px; height: 12px; background: #5C5C5c; border:0; opacity: 0.5}
.testi .carousel .carousel-indicators li.active{ opacity: 1;background: #5C5C5c !important;}
/* ==========================================================================
   FOOTER SECTION
   ========================================================================== */
.contact {margin-bottom: 60px;}
.contact h1{ line-height: 30px; font-size: 30px; text-transform: uppercase; font-family: 'pt_sansbold';  }
.contact-isi {margin-bottom: 10px;}
.contact h4 {margin:0; font-size: 18px; font-family: 'pt_sansbold'; line-height: 18px;}
.contact p {font-size: 14px; line-height: 18px; margin-bottom: 0;}

.contact-r p{margin-top: 20px; margin-bottom: 10px; line-height: 24px;}
.rss-isi input[type="text"] { float: left; width: 100%; border-width: 0px 0px 2px; border-style: none none solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    padding: 10px 0px;
    font-size: 16px;
    background: transparent none repeat scroll 0% 0%;
}

.rss-isi button {  float:right; margin-top: 10px; font-family: 'pt_sansbold'; display: inline-block; text-align: center; border-radius: 5px; font-size: 16px; padding: 5px 30px; border:0;}

/* ==========================================================================
   MEDIA QUERY
   ========================================================================== */
@media screen and (max-width: 1199px){
    .paket-jalan h3 {font-size: 20px;}
}

@media screen and (max-width: 991px){
    .navbar-brand {  font-size: 16px; padding: 15px 10px;}
    .nav > li > a {font-size: 12px; padding: 15px 8px; }

    /*section-head*/
    .head-l {width: 100%; clear: both; float: left;}
    .head-l h2 {   font-size: 29px; line-height: 34px; }

    .head-r {width: 60%; margin-left: 20%; clear: both;}
    .agent-ket-l,.agent-ket-r {width: 49%;}

    .sambutan-r .sambutan-img {height: 100px; width: 100px;}
    .sambutan-r .ch-item{box-shadow: 0 0 0 0 rgba(40, 113, 107, 0.4) inset, 0 0 0 5px rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.1);}
    .sambutan-r .ch-info p {margin: 0 5px;}
    .sambutan-r .ch-info h3 {font-size: 11px; margin: 0 5px; text-align: center;}
    .sambutan-r h4 { font-size: 17px; }
    .sambutan i.fa-quote-left, .sambutan i.fa-quote-right {font-size: 30px;}

    /*section about*/
    .why-item h3 { font-size: 18px; line-height: 20px;}
    .why-item p {font-size: 13px; line-height: 19px;}

    /*section paket*/
    .item-agent {width: 50%;}
}

@media screen and (max-width: 767px){
    .row {margin: 0;}
    .head-open {margin-top: 60px;}
    .head-l h2 { text-align: center; margin: 0 0 30px 0%; display: block;}
    .logo { display: block;float: none; height: 100px; left: 0; margin: 0 auto; padding-top: 1px; position: relative; text-align: center; width: 100px;z-index: 1;}
    .logo-ket-wrap {margin-left: 0; width: 100%;}
    .logo-ket {margin-left: 0;}

    .head-r {width: 100%; margin-left: 0; padding-top: 3%;}
    .sambutan-l {float: left; width: 100%;}
    .sambutan-r {display: none;}

    /*about section*/
    .why-item {width: 50%; float: left;}
    /*section paket*/
    .item-agent {width: 50%; float: left;}

    /*contact section*/
    .contact-l {width: 50%; float: left;}
    .contact-r {width: 50%; float: left;}
}

@media screen and (max-width: 639px){
    .head-open {padding-left: 0;padding-right: 0;}
    .agent-ket-l, .agent-ket-r { width: 100%;}
    .sambutan-p {margin: 0;}
    .sambutan i {display: none;}

    /*about section*/
    .why h2 {font-size: 18px; line-height: 18px; margin: -8px 20px 0; padding: 0 20px;text-align: center;}
    .why-item {width: 100%; float: left;}
    .list-why {margin-top: 20px;}

    /*section paket*/
    .item-agent {width: 100%; float: left;}
    /*contact section*/
    .contact-l {width: 100%; float: left;}
    .contact-r {width: 100%; float: left;}
}
