
/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */



/* ===========================================================
   GENERAL STYLESHEET BY BYINARY THEME    
   ============================================================*/


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #5c5c5c;
    line-height: 16px;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    line-height: 40px;
}

h1 {
    font-weight: 800;
}

h5 {
    padding-bottom: 30px;
}



a, a:hover {
    text-decoration: none !important;
    color: #5c5c5c;
    background:transparent;
}

p {
    line-height: 30px;
    margin-bottom: 23px;
}


.clearfix {clear:both;}


/* ==========================================================================
   HOME
   ========================================================================== */
.header {padding: 10px; -webkit-border-bottom-right-radius: 10px; background: #fff; position: relative;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;-webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
}
.logo-img {width: 100px; height: 100px; float: left; margin-right: 20px;}
.logo-img img {max-width: 100%;}
.logo a {float: left;}
.logo a h1{font-size: 30px; font-family: 'pt_sansbold'; color: #ffd941 !important; float: left;}
.logo-haji {width: 156px; height: 48px; background: url('../img/Logo_06.png')no-repeat; float: left; margin-top: 20px;}

.hotline {float: right; background:  #17a086 !important; color: #fff; font-size: 20px; padding: 10px;}

ul.navigasi {float: right; margin-top:10px; padding: 0; }
.navigasi li {float: left; list-style: none;}
.menu{padding: 15px 0 0 0; float: left;}
.navigasi li  {margin: 0 10px; float: left; padding: 0 5px 15px 5px;}
.navigasi li a {font-size: 17px; color:#b8b8b8; }
.navigasi li:hover a, .menu li.act a {color: #17a086; font-family: 'pt_sansbold';}
.menu li:hover, .menu li.act {border-bottom: 5px solid #17a086; }
.nav-col {padding: 0;}

/* ==========================================================================
   headline
   ========================================================================== */
.headline {margin-top: 40px; height: 550px; overflow: hidden;}
.head-item {position: relative; padding: 0; height: 100%;} 
.head-item a {width: 100%; height: 100%; cursor: pointer;}
.head-img {background-size: cover !important; background-repeat: no-repeat !important; width: 100%; display: block; height: 550px; position: absolute; top: 0;left: 0;}
.head-kat {background: #17a086; font-family: 'pt_sansbold'; color: #fff; display: inline-block; z-index: 1; position: relative; padding: 15px 30px; font-size: 20px;}
.head-isi { padding:10px; position: absolute; z-index: 1; left:0; bottom:0; width:100%;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
.head-isi h2 { font-family: 'pt_sansbold'; color: #fff; font-size: 30px;text-shadow: 1px 0px 1px #424242; margin-bottom: 0px; margin-top: 0; line-height: 30px;}
.head-isi p {font-size: 14px; line-height: 20px;color: #fff;text-shadow: 1px 0px 1px #424242; margin-bottom: 0;}
.head-isi span {font-size: 12px; line-height: 20px;color: #fff;text-shadow: 1px 0px 1px #424242; margin-bottom: 10px; display: block;}

.head-r {padding: 0 0 0 5px;}
.head-item1 {position: relative; padding: 0; height: 275px;}
.head-item1 a {width: 100%; height: 100%; cursor: pointer;}
.head-item1 .head-img {height: 275px;}
.head-item1 .head-kat {padding: 5px 15px; font-size: 14px;}
.head-item1 .head-isi h2 { font-size: 18px; line-height: 18px;}
.head-item1 .head-isi p {font-size: 12px; line-height: 15px;}
.head-item1:nth-child(1){margin-bottom: 5px; }


/* ==========================================================================
   best story
   ========================================================================== */
.best-story {margin-top: 60px; width: 100%; float: left;}
.best-jdl {position: relative; width: 100%; text-align: center; }
.best-bord{height: 3px; position: absolute; top:50%; left: 0; width: 100%; background: #17a086; z-index: 0;}
.best-jdl h2{ background: #17a086; font-family: 'pt_sansbold'; color: #fff; display: inline-block; padding: 5px 15px; margin: 0; position: relative;z-index: 1;}

.list-best {width: 100%; margin-top:30px; float: left;}
.list-border{ border: 1px solid #ddd; display: block !important;}
.best-ket {background: #17a086; font-family: 'pt_sansbold'; color: #fff; font-size: 18px; padding: 10px 10px; }
.best-ket a {color: #fff; }
.best-isi {padding: 10px;}
.best-img {width: 100%;  overflow: hidden; position: relative; max-height: 200px; overflow: hidden;}
.best-img img { max-width: 100%;}
.best-like {position: absolute; right: 5px; top: 5px;}
.best-like img {max-width: 100%;}
.best-img h4  {position: absolute; left: 5px; bottom: 5px; margin:0;}
.best-img h4 a {color: #fff; font-size: 30px;text-shadow: 1px 0px 1px #424242;line-height: 24px; }
.best-img h4 span {color: #fff; font-size: 12px;text-shadow: 1px 0px 1px #424242; display: block; margin:0; line-height: 12px;}
.best-isi h3 {margin: 0;}
 .best-isi h3 a{font-size: 22px;}
.best-isi h3 a:hover, .best-isi h3 a:focus, .best-isi h3 a:focus {color: #17a086;}

/* ==========================================================================
   blog main
   ========================================================================== */
.blog-main {margin-top: 60px; width: 100%; float: left;}
.main-l {padding-left: 0; width: 72%; }
.main-r {padding-right: 0;width: 28%;}
.blog-item {width: 100%; border: 1px solid #ddd; margin-bottom: 30px;}
.main-img {max-height: 400px; overflow: hidden; position: relative; width: 100%; z-index: 0;}
.main-img a {width: 100%; height: 100%; display: block;}
.main-img img { max-width: 100%;}
.main-jdl {position: absolute; left: 0px; bottom: 0px; margin:0;padding:10px; z-index: 1;  width:100%;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */}
.main-jdl h3 a {color: #fff; font-size: 30px;text-shadow: 1px 0px 1px #424242;line-height: 24px;}
.main-jdl h3 a:hover, .main-jdl h3 a:focus, .main-jdl h3 a:focus {color: #17a086;}
.main-jdl span {font-size: 12px; line-height: 20px;color: #fff;text-shadow: 1px 0px 1px #424242; margin-bottom: 10px; display: block;}
.main-ket {background: #17a086; font-family: 'pt_sansbold'; color: #fff; display: inline-block; z-index: 1; position: absolute; padding: 15px 30px; font-size: 20px; top: 0; left: 0;}
.main-ket a {color: #fff;}
.main-isi {padding: 10px;}
.main-isi p {font-size: 14px; line-height: 18px;}
.main-fot {padding: 0 10px 10px 10px; width: 100%;}
.main-like {float: left;}
.main-lengkap {float: right; background: #EAC017; font-family: 'pt_sansbold'; color: #fff; font-size: 18px; padding: 10px 10px; }
.main-lengkap:hover , .main-lengkap:focus {background-color: #17a086 !important; }



/*right*/
.twitter-widget {margin-bottom: 15px; width: 100%; float: left;}
.twitter-widget h2 { font-family: 'pt_sansbold'; text-align: center; color: #17a086; margin-top: 0;}

.socmed-widget {margin-bottom: 15px;width: 100%; float: left;}
.socmed-widget ul {padding-left: 0;}
.socmed-widget li.fb a{background: #485fa6;}
.socmed-widget li.tw a{background: #39c2f7;}
.socmed-widget li.ig a{background: #5380A2;}
.socmed-widget li {list-style: none; width: 100%; float: left; margin-bottom: 10px;}
.socmed-widget li a {float: left;padding: 0;width: 42px; height: 42px;text-align: center;border-radius: 50%;margin: 0 5px;}
.socmed-widget li i{ color: #fff; font-size: 22px;  padding-top: 10px;}
.socmed-widget li span { float: left; font-family: 'pt_sansbold'; font-size: 22px; margin-top: 10px;}


.ustad-widget {margin-bottom: 15px; width: 100%; float: left;}
.ustad-widget h2 { font-family: 'pt_sansbold'; text-align: center; color: #17a086; margin-top: 0;}
.ustad-border{ border: 1px solid #ddd;}
.ust-isi {padding: 10px;}
.ust-img {width: 100%;  overflow: hidden; position: relative; max-height: 200px; overflow: hidden;}
.ust-img img { max-width: 100%;}
.ust-img h4  {position: absolute; left: 5px; bottom: 5px; margin:0;}
.ust-img h4 a {color: #fff; font-size: 30px;text-shadow: 1px 0px 1px #424242;line-height: 24px; }
.ust-img h4 span {color: #fff; font-size: 12px;text-shadow: 1px 0px 1px #424242; display: block; margin:0; line-height: 12px;}
.ust-isi h3 {margin: 0; line-height: 22px;}
.ust-isi h3 a{font-size: 22px;}
.ust-isi h3 a:hover, .ust-isi h3 a:focus, .ust-isi h3 a:focus {color: #17a086;}
.ust-isi p {font-size: 14px; line-height: 22px;}
.btn-lengkap {color: #17a086; font-size: 16px;}
.btn-lengkap:hover {color: #17a086; }

/* ==========================================================================
   footer
   ========================================================================== */
.footer{ -webkit-border-radius: 10px; background: #fff; position: relative;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .1); border:1px solid #ddd; margin-bottom: 30px;}
.footer .img-phone {width: 100%;margin: 0 auto;}
.foot-l {padding: 20px;}
.mob-title {font-size: 25px !important; color: #00bd9c; line-height: 30px !important;}
.mob-title b { font-family: 'pt_sansbold'; font-weight: normal;}
.dl-app { float: left;margin-right: 10px; padding: 20px 0; width: 46%;}
.dl-app img {max-width: 100%;}
.foot-l p { font-size: 15px; line-height: 20px;}
.img-phone img {max-width: 100%;}

.newsletter {margin-bottom: 20px; padding-top: 20px; padding-right: 20px; }
.newsletter h2{font-family: 'pt_sansbold'; text-align: center; color: #00bd9c;  margin-top: 0;}
.newsletter p {font-size: 15px; line-height: 20px;}
.newsletter input[type="text"] { float: left; width: 100%;border: 0;box-shadow: 0;-webkit-box-shadow: 0;border-bottom: 2px solid #13816b; padding: 10px 0;font-size: 14px;background: transparent; color: #13816b;}
.newsletter button {float: right;background: #ffd941;text-align: center;padding: 12px 25px; color: #5c5c5c; border-radius: 5px;border: 0; box-shadow: 0;-webkit-box-shadow: 0; margin-top: 5px;}
.newsletter .hvr-radial-out:before {background: #17A086 !important;}

.almt-img {width: 40%;float: left;}
.p {width: 48%; float: left; margin-left: 2%; margin-bottom: 30px;}
.alamat p {font-family: 'pt_sansbold';  margin-bottom: 10px;}

/*customer service widget*/
.chat-wrap{position: fixed; left: 2%; bottom: 0; width: 20%;z-index: 50; }
.cust-button {position: absolute;left: 2%; bottom: 0; background:#17a086 ;  background-size: 100%;  -webkit-border-top-right-radius: 5px;-webkit-border-top-left-radius: 5px;-moz-border-radius-top-right: 5px;-moz-border-radius-top-left: 5px;border-top-right-radius: 5px;border-top-left-radius: 5px;}
.cust-button a  {color:#fff; position: relative; width: 100%; display: block;}
.cust-button a span {font-size: 14px;}
.cust-button a p{font-size: 20px; font-family: 'pt_sansbold'; color: #ffd941;}
.cust-button-l{width: 100%; padding:15px 10px 0px 10px; margin-right: 50px;}
.cust-button-r {
    background: url('../img/msg.png') no-repeat left top; opacity: 0.5; 
    width: 50%;
    display: block;
    height: 90px;
    background-size: 100%; position: absolute;right: 0; top: 0;
}

/*msg chat*/
.msg-wrap{  float:left; width:100%; display: none; background: #fff; -webkit-border-top-right-radius: 5px;-webkit-border-top-left-radius: 5px;-moz-border-radius-top-right: 5px;-moz-border-radius-top-left: 5px;border-top-right-radius: 5px;border-top-left-radius: 5px;}
.msg-head { width: 100%; float: left; -webkit-border-top-right-radius: 5px;-webkit-border-top-left-radius: 5px;-moz-border-radius-top-right: 5px;-moz-border-radius-top-left: 5px;border-top-right-radius: 5px;border-top-left-radius: 5px; background: #17a086 ; width: 100%; padding: 5px 15px;}
.msg-head p { font-size: 14px;font-family: 'pt_sansbold'; color: #fff; float: left; display: inline-block; margin-bottom: 0;}
.msg-head a {color: #fff;}
.msg-isi { padding: 10px 0 10px 10px; height: 300px; overflow-y: scroll; float: left; width: 100%;}
.cls-msg {float: right;}

/* ==========================================================================
   MEDIA QUERY
   ========================================================================== */

@media (max-width: 1199px){
    .logo {padding-right: 0;}
    .logo-img {width: 80px; height: 80px;}
    .hotline {font-size: 16px;}
    .navigasi li { margin: 0 5px;}
    .navigasi li a {font-size: 16px;}

    .almt-img {width: 50%;}
    .p {width: 100%;}
}

@media (max-width: 991px){
    .logo {padding-left: 0;width: 37.667%;}
    .logo-img {width: 70px; height: 70px; margin-right: 5px;}
    .logo a h1 {font-size: 22px;}
    .logo-haji { height: 36px;margin-top: 23px;width: 128px; background-size: 100% !important;}
    .nav{width: 62.333%;}
    .navigasi li { margin: 0 0px;}
    .navigasi li a {font-size: 14px;}

    .headline ,.head-img{ height: 400px;}
    .head-item1 ,.head-item1 .head-img{height: 200px;}
    .head-isi p {display: none;}

    .best-img h4 a {color: #fff; font-size: 20px;line-height: 22px;}
    .best-isi h3 {line-height: 20px;}
    .best-isi h3 a{font-size: 18px; }

    .cust-button a p {font-size: 18px;}
}

@media (max-width: 767px){
    .logo , .nav {float: left;}
    .logo {width: 60%;}
    .nav {width: 100%;}
    .hotline {display: none;}
    ul.navigasi {float: none; width: 90%; margin:10px auto 0 auto;}

    .nav-btn.navbar-toggle {background:#17a086; margin-top: 20px; }
    .nav-btn.navbar-toggle .icon-bar {background: #fff;}

    .headline { height: auto;}
    .head-item, .head-img {height: 400px; margin-bottom: 5px;}
    .head-item1 ,.head-item1 .head-img{height: 200px;}
    .head-item1  {width: 49.6%; float: left;}
    .head-item1:nth-child(2) {margin-left: 5px;}
    .head-r {float: left; padding: 0; width: 100%;}

    .best-img {max-height: 100%;}
    .list-best .col-sm-4 {margin-bottom: 10px;}

    .main-l {width: 100%; padding: 0;}
    .main-r {width: 100%; padding: 0;}
    .twitter-widget , .socmed-widget {display: none;}
    .ust-img{max-height: 100% !important;}

    .footer .col-sm-5 {width: 50%; float: left;}
    .footer .col-sm-7 {width: 50%; float: left;}
    .footer .col-sm-4 {clear: both;}
    .newsletter, .alamat {width: 50%; float: left;}

    .cust-button a p {font-size: 17px; margin-bottom: 5px;}
}

@media (max-width: 639px){
    .footer .col-sm-5 {width: 100%; float: left;}
    .footer .col-sm-7 {width: 100%; float: left;}
    .logo {width: 84%;}
    ul.navigasi {width: 100%; padding: 0;}
    .navigasi li a { font-size: 13px;}
}
@media (max-width: 479px){
    .logo {width: 100%;}
    .head-item, .head-img {
    height: 216px;}
    .head-img {background-size: 100%;}
    .head-isi h2 {font-size: 20px; line-height: 20px;}
    .head-kat {padding: 5px 15px;font-size: 16px;}
    .head-item1 {width: 100%;}

    .newsletter, .alamat {width: 100%;}
}
