/* ---------------------------------------------------------------------- */
/*  Theme 2
/* ---------------------------------------------------------------------- */
body {
  background: #F0F3F4;
}

@media (max-width: 991px) {
  .app-content {
    background: #F0F3F4;
  }
}

header .navbar-header {
  background: #22262E !important;
  border-right-color: rgba(0, 0, 0, 0.2) !important;
  border-bottom-color: rgba(0, 0, 0, 0.2) !important;
}
header .navbar-header .sidebar-toggler, header .navbar-header .sidebar-mobile-toggler {
  color: #798CA6 !important;
}
header .navbar-header .navbar-brand {
  color: #ffffff !important;
}
header .navbar-header .menu-toggler {
  color: #798CA6 !important;
}
header .navbar-collapse {
  background: #ffffff !important;
  border-bottom-color: rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) !important;
}
header .navbar-collapse .navbar-right > li > a {
  color: #777;
}
header .navbar-collapse .navbar-right > li > a i {
  color: #3E4B5C !important;
}
header .navbar-collapse .navbar-right > li > a:hover, header .navbar-collapse .navbar-right > li > a:focus, header .navbar-collapse .navbar-right > li > a:active {
  background: #ebebeb !important;
}
header .navbar-collapse .navbar-right > li.open > a {
  background: #ebebeb !important;
}
header .navbar-collapse .navbar-right .dot-badge {
  border-color: #ffffff;
}
@media (max-width: 991px) {
  header .navbar-collapse {
    background: #22262E !important;
    box-shadow: none;
  }
  header .navbar-collapse .navbar-right > li > a {
    color: #ffffff;
  }
  header .navbar-collapse .navbar-right > li > a i {
    color: #798CA6 !important;
  }
  header .navbar-collapse .navbar-right > li > a:hover, header .navbar-collapse .navbar-right > li > a:focus, header .navbar-collapse .navbar-right > li > a:active {
    background: #111317 !important;
  }
  header .navbar-collapse .navbar-right > li.open > a {
    background: #111317 !important;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  header .navbar-collapse .navbar-right > li {
    border-bottom: 1px solid #2C2F3B !important;
  }
}
@media (max-width: 991px) {
  header .navbar-collapse .navbar-right .dot-badge {
    border-color: #22262E;
  }
}
@media (max-width: 767px) {
  header .navbar-collapse {
    background: #171a1f !important;
  }
  header .navbar-collapse .close-handle {
    background: #22262E;
  }
  header .navbar-collapse .close-handle .arrow-left, header .navbar-collapse .close-handle .arrow-right {
    background-color: #798CA6;
  }
  header .navbar-collapse .navbar-right .current-user a i {
    color: #ffffff !important;
    background: rgba(121, 140, 166, 0.3);
  }
}
header .dropdown-off-sidebar {
  border-left-color: rgba(0, 0, 0, 0.2) !important;
  background: #ffffff !important;
  color: #3E4B5C !important;
}
@media (max-width: 991px) {
  header .dropdown-off-sidebar {
    background: #22262E !important;
    border-left-color: rgba(0, 0, 0, 0.2) !important;
    color: #798CA6 !important;
  }
}

#sidebar {
  background: #1B1E24 !important;
}
#sidebar:before {
  border-right-width: 0 !important;
  border-right-style: solid;
  border-right-color: transparent !important;
}
#sidebar nav {
  border-right-width: 0 !important;
  border-right-style: solid;
  border-right-color: transparent !important;
}
#sidebar nav .navbar-title {
  color: white;
}
#sidebar nav > ul {
  background: #22262E !important;
  border-bottom-color: #141518 !important;
  border-top-color: #141518 !important;
}
#sidebar nav > ul > li a:active:focus {
  background: #0c0e11 !important;
}
#sidebar nav > ul > li > a .item-media > i {
  color: #8b91a0 !important;
}
#sidebar nav > ul > li > a .item-media .fa-stack .fa-square {
  color: #35711F !important;
}
#sidebar nav > ul > li > a .item-inner {
  color: #b4bcc8 !important;
  border-bottom-color: #141518;
}
#sidebar nav > ul > li.hover {
  background: #171a1f !important;
}
#sidebar nav > ul > li.open {
  background: #171a1f !important;
}
.no-touch #sidebar nav > ul > li:hover {
  background: #171a1f !important;
}
#sidebar nav > ul > li.active {
  background: #35711F !important;
}
#sidebar nav > ul > li.active:hover {
  background: #35711F !important;
}
@media (min-width: 992px) {
  #sidebar nav > ul > li.active:before {
    border-right-color: transparent !important;
  }
  #sidebar nav > ul > li.active:after {
    border-right-color: #F0F3F4 !important;
  }
}
#sidebar nav > ul > li.active > a:active:focus {
  background: #bb2f1c !important;
}
#sidebar nav > ul > li.active > a .item-inner {
  color: #ffffff !important;
}
#sidebar nav > ul > li.active > a .item-media > i {
  color: #ffffff !important;
}
#sidebar nav > ul > li.active > a .item-media .fa-stack .fa-square {
  color: #35711F !important;
}
#sidebar nav > ul > li.active .sub-menu {
  background: #1b1f25;
}
#sidebar nav > ul .sub-menu {
  background: #1b1f25;
}
#sidebar nav > ul .sub-menu > li.open {
  background: #171a1f !important;
}
#sidebar nav > ul .sub-menu > li a {
  color: #b4bcc8;
}
#sidebar nav > ul .sub-menu > li.active a {
  background: #08090b !important;
}
#sidebar nav ul > li.hover {
  background: #171a1f;
}
.no-touch #sidebar nav ul > li:hover {
  background: #171a1f;
}
#sidebar nav ul > li.open {
  background: #171a1f;
}
#sidebar nav .button-o {
  border-color: #8b91a0 !important;
  color: #8b91a0 !important;
}

@media (min-width: 992px) {
  .app-sidebar-closed .app-aside .search-form {
    background: #0e0f13 !important;
    border-bottom-color: transparent !important;
  }
  .app-sidebar-closed .app-aside .search-form > a {
    color: #ffffff;
  }
  .app-sidebar-closed .app-aside .navbar-form {
    background: #0e0f13 !important;
  }
  .app-sidebar-closed .app-aside .navbar-form a {
    color: #ffffff !important;
  }
  .app-sidebar-closed .app-aside .navbar-form .form-group input {
    background: rgba(255, 255, 255, 0.4);
  }
  .app-sidebar-closed .app-aside .navbar-form .form-group input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #ffffff;
  }
  .app-sidebar-closed .app-aside .navbar-form .form-group input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ffffff;
  }
  .app-sidebar-closed .app-aside .navbar-form .form-group input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ffffff;
  }
  .app-sidebar-closed .app-aside .navbar-form .form-group input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #ffffff;
  }
  .app-sidebar-closed .app-aside > .item-inner {
    background: #0c0e11 !important;
  }
  .app-sidebar-closed .app-aside > .item-inner .title {
    color: #b4bcc8 !important;
  }
  .app-sidebar-closed .app-aside > .item-inner.active {
    background: #0c0e11 !important;
  }
  .app-sidebar-closed .app-aside > .item-inner.active:before {
    border-left: 12px solid transparent;
  }
  .app-sidebar-closed .app-aside > .item-inner.active:after {
    border-left: 12px solid #35711F !important;
  }
  .app-sidebar-closed .app-aside > .item-inner:before {
    border-left: 12px solid transparent;
  }
  .app-sidebar-closed .app-aside > .item-inner:after {
    border-left: 12px solid #171a1f !important;
  }
  .app-sidebar-closed .app-aside .form-group {
    background: #0e0f13 !important;
    border-color: transparent !important;
  }
  .app-sidebar-closed .app-aside .sub-menu {
    background: #22262E;
  }
  .app-sidebar-closed .app-aside .sub-menu li a {
    color: #b4bcc8 !important;
  }
  .app-sidebar-closed .app-aside .sub-menu li a.hover {
    background: #0c0e11 !important;
  }
  .no-touch .app-sidebar-closed .app-aside .sub-menu li a:hover {
    background: #0c0e11 !important;
  }
  .app-sidebar-closed .app-aside .sub-menu li.active > a, .app-sidebar-closed .app-aside .sub-menu li.open > a {
    background: #0c0e11 !important;
  }
}
@media (min-width: 992px) {
  .app-sidebar-closed ul.sub-menu {
    border-right-color: #141518 !important;
    border-bottom-color: #141518 !important;
  }
}

.navbar-form {
  background: #0e0f13 !important;
}
.navbar-form .search-button {
  color: #ffffff;
}
.navbar-form .form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(255, 255, 255, 0.5);
}
.navbar-form .form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(255, 255, 255, 0.5);
}
.navbar-form .form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
}
.navbar-form .form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(255, 255, 255, 0.5);
}
.navbar-form .form-control:focus {
  background-color: #ffffff !important;
  border-color: #ffffff;
  transition: all 300ms ease-in 0s;
}
.navbar-form .form-control:focus + .search-button {
  color: #aeacb4;
}
.navbar-form .form-control:focus::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #c2c2c5 !important;
}
.navbar-form .form-control:focus:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #c2c2c5 !important;
}
.navbar-form .form-control:focus::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #c2c2c5 !important;
}
.navbar-form .form-control:focus:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #c2c2c5 !important;
}

#off-sidebar {
  background: #ffffff !important;
  border-color: #c8c7cc !important;
}
#off-sidebar .sidebar-back {
  color: #798CA6;
}
#off-sidebar .tab-content {
  background: #ffffff !important;
}
#off-sidebar .nav-tabs.nav-justified > li > a {
  border-color: #c8c7cc;
  color: rgba(121, 140, 166, 0.7);
  background: #f2f2f2;
}
#off-sidebar .nav-tabs.nav-justified > li > a:hover, #off-sidebar .nav-tabs.nav-justified > li > a:focus {
  background: #e6e6e6;
  color: rgba(121, 140, 166, 0.8);
}
#off-sidebar .nav-tabs.nav-justified > li.active > a, #off-sidebar .nav-tabs.nav-justified > li.active > a:hover, #off-sidebar .nav-tabs.nav-justified > li.active > a:focus {
  color: #798CA6;
  background: #ffffff;
  border-bottom-color: #ffffff;
}
#off-sidebar .media-list .media {
  border-color: #c8c7cc;
  color: #777;
}
#off-sidebar .media-list .media a:hover {
  background: #e6e6e6;
}
#off-sidebar .media-list .media .media-heading {
  color: #777 !important;
}
#off-sidebar .media-list .media .media-body span {
  color: #919191;
}
#off-sidebar .sidebar-title {
  color: #777;
}
#off-sidebar .discussion .messages-date {
  color: #777;
}
#off-sidebar .discussion .message-name {
  color: #777;
}
#off-sidebar .message-bar {
  background: #e6e6e6;
  border-top-color: #c8c7cc;
}
#off-sidebar .message-bar textarea {
  background: #fff;
  border-color: #c8c7cc;
}
#off-sidebar .message-bar .link {
  color: #798CA6;
}
#off-sidebar .message-bar a.icon-only {
  color: #777;
}

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #999 !important;
}

#app > footer {
  background: #22262E !important;
  border-top-color: rgba(0, 0, 0, 0.2) !important;
  color: #ffffff;
}
