<div class="testi-pg-br hvr-grow">
					 		<div class="testimon-l">
					      			<div class="testimon-img"><img src="http://www.multivisual.nl/img/avatar.jpg"/></div>
					      			<div class="testi-ket">@TikaKoes</div>
				      		</div>
				      		<div class="testimon-r">
				      			<h5>Tika Koesmanto Purnamasari</h5>
				      			<div class="testimon-ket">
				      				<p class="paket-testi">Paket Perjalanan Ridho, Travel Maktour</p>
				      				<span> <i class="fa fa-plane"></i>17 Agustus - <i class="fa fa-plane fa-ylw"></i> 22 Agustus 2015</span>
				      			</div>
				      			<div class="testimon-isi">
				      				
					      			<p><i class="fa fa-quote-left"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
					      			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis<i class="fa fa-quote-right"></i></p>

				      			</div>
				      		</div>
					 		<div class="clearfix"></div>
				 		</div>
				 		<div class="testi-pg-br hvr-grow">
					 		<div class="testimon-l">
					      			<div class="testimon-img"><img src="http://www.multivisual.nl/img/avatar.jpg"/></div>
					      			<div class="testi-ket">@TikaKoes</div>
				      		</div>
				      		<div class="testimon-r">
				      			<h5>Tika Koesmanto Purnamasari</h5>
				      			<div class="testimon-ket">
				      				<p class="paket-testi">Paket Perjalanan Ridho, Travel Maktour</p>
				      				<span> <i class="fa fa-plane"></i>17 Agustus - <i class="fa fa-plane fa-ylw"></i> 22 Agustus 2015</span>
				      			</div>
				      			<div class="testimon-isi">
				      				
					      			<p><i class="fa fa-quote-left"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
					      			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis<i class="fa fa-quote-right"></i></p>
					      			
				      			</div>
				      		</div>
					 		<div class="clearfix"></div>
				 		</div>
				 		<div class="testi-pg-br hvr-grow">
					 		<div class="testimon-l">
					      			<div class="testimon-img"><img src="http://www.multivisual.nl/img/avatar.jpg"/></div>
					      			<div class="testi-ket">@TikaKoes</div>
				      		</div>
				      		<div class="testimon-r">
				      			<h5>Tika Koesmanto Purnamasari</h5>
				      			<div class="testimon-ket">
				      				<p class="paket-testi">Paket Perjalanan Ridho, Travel Maktour</p>
				      				<span> <i class="fa fa-plane"></i>17 Agustus - <i class="fa fa-plane fa-ylw"></i> 22 Agustus 2015</span>
				      			</div>
				      			<div class="testimon-isi">
				      				
					      			<p><i class="fa fa-quote-left"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
					      			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis<i class="fa fa-quote-right"></i></p>
					      			
				      			</div>
				      		</div>
					 		<div class="clearfix"></div>
				 		</div>
				 		<div class="testi-pg-br hvr-grow">
					 		<div class="testimon-l">
					      			<div class="testimon-img"><img src="http://www.multivisual.nl/img/avatar.jpg"/></div>
					      			<div class="testi-ket">@TikaKoes</div>
				      		</div>
				      		<div class="testimon-r">
				      			<h5>Tika Koesmanto Purnamasari</h5>
				      			<div class="testimon-ket">
				      				<p class="paket-testi">Paket Perjalanan Ridho, Travel Maktour</p>
				      				<span> <i class="fa fa-plane"></i>17 Agustus - <i class="fa fa-plane fa-ylw"></i> 22 Agustus 2015</span>
				      			</div>
				      			<div class="testimon-isi">
				      				
					      			<p><i class="fa fa-quote-left"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
					      			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis<i class="fa fa-quote-right"></i></p>
					      			
				      			</div>
				      		</div>
					 		<div class="clearfix"></div>
				 		</div>
				 		<div class="testi-pg-br hvr-grow">
					 		<div class="testimon-l">
					      			<div class="testimon-img"><img src="http://www.multivisual.nl/img/avatar.jpg"/></div>
					      			<div class="testi-ket">@TikaKoes</div>
				      		</div>
				      		<div class="testimon-r">
				      			<h5>Tika Koesmanto Purnamasari</h5>
				      			<div class="testimon-ket">
				      				<p class="paket-testi">Paket Perjalanan Ridho, Travel Maktour</p>
				      				<span> <i class="fa fa-plane"></i>17 Agustus - <i class="fa fa-plane fa-ylw"></i> 22 Agustus 2015</span>
				      			</div>
				      			<div class="testimon-isi">
				      				
					      			<p><i class="fa fa-quote-left"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
					      			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis<i class="fa fa-quote-right"></i></p>
					      			
				      			</div>
				      		</div>
					 		<div class="clearfix"></div>
				 		</div>
				 		<div class="clearfix"></div>
				 	</div>
				 	<div class="clearfix"></div>
				 	<a href="infinite-testi.html" class="jscroll-next hvr-grow">Load More</a>