<div class="col-sm-6 item-agent">
									<a href="">
										<div class="agent-wrap">
											<div class="agent-img">
												<img title="paket umroh tour masjidil aqsa" alt="paket umroh tour masjidil aqsa" src="http://www.ikhram.com/img/plusmasjidilaqsa.jpg">
											</div>
											<div class="agent-bwh">
												<div class="paket-jalan">
													<h3>Paket Perjalanan A</h3>
													<div class="brgkt">
														<p><i class="fa fa-plane"></i><span>Berangkat</span> 18 Jan</p>
													</div>
													<div class="brgkt land">
														<p><i class="fa fa-plane"></i><span>Pulang</span> 31 Jan</p>
													</div>
													<div class="clearfix"></div>
												</div>
												<div class="jalur">
													<p>Jakarta-Madinah-Jeddah</p>
													<p>Turki-Singapore-Jakarta</p>
													<div class="clearfix"></div>
												</div>
												<div class="ust-sisa">
													<div class="brgkt">
														<p><span>Ustad:</span>Sobiri</p>
													</div>
													<div class="brgkt land">
														<p><span>Sisa Kuota:</span>19 Orang</p>
													</div>
													<div class="clearfix"></div>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
									</a>
								</div>
								<div class="col-sm-6 item-agent">
									<a href="">
										<div class="agent-wrap">
											<div class="agent-img">
												<img title="paket umroh tour masjidil aqsa" alt="paket umroh tour masjidil aqsa" src="http://www.ikhram.com/img/plusmasjidilaqsa.jpg">
											</div>
											<div class="agent-bwh">
												<div class="paket-jalan">
													<h3>Paket Perjalanan A</h3>
													<div class="brgkt">
														<p><i class="fa fa-plane"></i><span>Berangkat</span> 18 Jan</p>
													</div>
													<div class="brgkt land">
														<p><i class="fa fa-plane"></i><span>Pulang</span> 31 Jan</p>
													</div>
													<div class="clearfix"></div>
												</div>
												<div class="jalur">
													<p>Jakarta-Madinah-Jeddah</p>
													<p>Turki-Singapore-Jakarta</p>
													<div class="clearfix"></div>
												</div>
												<div class="ust-sisa">
													<div class="brgkt">
														<p><span>Ustad:</span>Sobiri</p>
													</div>
													<div class="brgkt land">
														<p><span>Sisa Kuota:</span>19 Orang</p>
													</div>
													<div class="clearfix"></div>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
									</a>
								</div>
								<div class="col-sm-6 item-agent">
									<a href="">
										<div class="agent-wrap">
											<div class="agent-img">
												<img title="paket umroh tour masjidil aqsa" alt="paket umroh tour masjidil aqsa" src="http://www.ikhram.com/img/plusmasjidilaqsa.jpg">
											</div>
											<div class="agent-bwh">
												<div class="paket-jalan">
													<h3>Paket Perjalanan A</h3>
													<div class="brgkt">
														<p><i class="fa fa-plane"></i><span>Berangkat</span> 18 Jan</p>
													</div>
													<div class="brgkt land">
														<p><i class="fa fa-plane"></i><span>Pulang</span> 31 Jan</p>
													</div>
													<div class="clearfix"></div>
												</div>
												<div class="jalur">
													<p>Jakarta-Madinah-Jeddah</p>
													<p>Turki-Singapore-Jakarta</p>
													<div class="clearfix"></div>
												</div>
												<div class="ust-sisa">
													<div class="brgkt">
														<p><span>Ustad:</span>Sobiri</p>
													</div>
													<div class="brgkt land">
														<p><span>Sisa Kuota:</span>19 Orang</p>
													</div>
													<div class="clearfix"></div>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
									</a>
								</div>
								<div class="col-sm-6 item-agent">
									<a href="">
										<div class="agent-wrap">
											<div class="agent-img">
												<img title="paket umroh tour masjidil aqsa" alt="paket umroh tour masjidil aqsa" src="http://www.ikhram.com/img/plusmasjidilaqsa.jpg">
											</div>
											<div class="agent-bwh">
												<div class="paket-jalan">
													<h3>Paket Perjalanan A</h3>
													<div class="brgkt">
														<p><i class="fa fa-plane"></i><span>Berangkat</span> 18 Jan</p>
													</div>
													<div class="brgkt land">
														<p><i class="fa fa-plane"></i><span>Pulang</span> 31 Jan</p>
													</div>
													<div class="clearfix"></div>
												</div>
												<div class="jalur">
													<p>Jakarta-Madinah-Jeddah</p>
													<p>Turki-Singapore-Jakarta</p>
													<div class="clearfix"></div>
												</div>
												<div class="ust-sisa">
													<div class="brgkt">
														<p><span>Ustad:</span>Sobiri</p>
													</div>
													<div class="brgkt land">
														<p><span>Sisa Kuota:</span>19 Orang</p>
													</div>
													<div class="clearfix"></div>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
									</a>
								</div>
								<div class="col-sm-6 item-agent">
									<a href="">
										<div class="agent-wrap">
											<div class="agent-img">
												<img title="paket umroh tour masjidil aqsa" alt="paket umroh tour masjidil aqsa" src="http://www.ikhram.com/img/plusmasjidilaqsa.jpg">
											</div>
											<div class="agent-bwh">
												<div class="paket-jalan">
													<h3>Paket Perjalanan A</h3>
													<div class="brgkt">
														<p><i class="fa fa-plane"></i><span>Berangkat</span> 18 Jan</p>
													</div>
													<div class="brgkt land">
														<p><i class="fa fa-plane"></i><span>Pulang</span> 31 Jan</p>
													</div>
													<div class="clearfix"></div>
												</div>
												<div class="jalur">
													<p>Jakarta-Madinah-Jeddah</p>
													<p>Turki-Singapore-Jakarta</p>
													<div class="clearfix"></div>
												</div>
												<div class="ust-sisa">
													<div class="brgkt">
														<p><span>Ustad:</span>Sobiri</p>
													</div>
													<div class="brgkt land">
														<p><span>Sisa Kuota:</span>19 Orang</p>
													</div>
													<div class="clearfix"></div>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
									</a>
								</div>
								<div class="col-sm-6 item-agent">
									<a href="">
										<div class="agent-wrap">
											<div class="agent-img">
												<img title="paket umroh tour masjidil aqsa" alt="paket umroh tour masjidil aqsa" src="http://www.ikhram.com/img/plusmasjidilaqsa.jpg">
											</div>
											<div class="agent-bwh">
												<div class="paket-jalan">
													<h3>Paket Perjalanan A</h3>
													<div class="brgkt">
														<p><i class="fa fa-plane"></i><span>Berangkat</span> 18 Jan</p>
													</div>
													<div class="brgkt land">
														<p><i class="fa fa-plane"></i><span>Pulang</span> 31 Jan</p>
													</div>
													<div class="clearfix"></div>
												</div>
												<div class="jalur">
													<p>Jakarta-Madinah-Jeddah</p>
													<p>Turki-Singapore-Jakarta</p>
													<div class="clearfix"></div>
												</div>
												<div class="ust-sisa">
													<div class="brgkt">
														<p><span>Ustad:</span>Sobiri</p>
													</div>
													<div class="brgkt land">
														<p><span>Sisa Kuota:</span>19 Orang</p>
													</div>
													<div class="clearfix"></div>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
									</a>
								</div>
								<a href="infinite-agent.html" class="jscroll-next">next</a>