<div class="col-md-3 col-sm-6 col-xs-12 tra-res-wrap">
						<a href="">
							<div class="travel-list">
								<div class="img-res"><img src="http://m.ikhram.com/uploads/agent/agent_logo/14/logo_maktour_highrest__2.png"></div>
								<div class="isi-res">
									<h3>Maktour Travel</h3>
									<div class="rat-res">
										<div class="rat-l">
											<div class="stars">
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
											</div>
										</div>
										<div class="rat-r">
											4.5
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="ust-res">
										<div class="img-ust-res"><img src="img/testi.png"></div>
										<h4>Ust. Abdullah Abu Ali</h4>
										<div class="clearfix"></div>
									</div>
									<div class="place-res">
										<span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span>Surabaya
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 tra-res-wrap">
						<a href="">
							<div class="travel-list">
								<div class="img-res"><img src="http://m.ikhram.com/uploads/agent/agent_logo/14/logo_maktour_highrest__2.png"></div>
								<div class="isi-res">
									<h3>Maktour Travel</h3>
									<div class="rat-res">
										<div class="rat-l">
											<div class="stars">
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
											</div>
										</div>
										<div class="rat-r">
											4.5
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="ust-res">
										<div class="img-ust-res"><img src="img/testi.png"></div>
										<h4>Ust. Abdullah Abu Ali</h4>
										<div class="clearfix"></div>
									</div>
									<div class="place-res">
										<span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span>Surabaya
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 tra-res-wrap">
						<a href="">
							<div class="travel-list">
								<div class="img-res"><img src="http://m.ikhram.com/uploads/agent/agent_logo/14/logo_maktour_highrest__2.png"></div>
								<div class="isi-res">
									<h3>Maktour Travel</h3>
									<div class="rat-res">
										<div class="rat-l">
											<div class="stars">
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
											</div>
										</div>
										<div class="rat-r">
											4.5
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="ust-res">
										<div class="img-ust-res"><img src="img/testi.png"></div>
										<h4>Ust. Abdullah Abu Ali</h4>
										<div class="clearfix"></div>
									</div>
									<div class="place-res">
										<span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span>Surabaya
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 tra-res-wrap">
						<a href="">
							<div class="travel-list">
								<div class="img-res"><img src="http://m.ikhram.com/uploads/agent/agent_logo/14/logo_maktour_highrest__2.png"></div>
								<div class="isi-res">
									<h3>Maktour Travel</h3>
									<div class="rat-res">
										<div class="rat-l">
											<div class="stars">
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
											</div>
										</div>
										<div class="rat-r">
											4.5
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="ust-res">
										<div class="img-ust-res"><img src="img/testi.png"></div>
										<h4>Ust. Abdullah Abu Ali</h4>
										<div class="clearfix"></div>
									</div>
									<div class="place-res">
										<span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span>Surabaya
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 tra-res-wrap">
						<a href="">
							<div class="travel-list">
								<div class="img-res"><img src="http://m.ikhram.com/uploads/agent/agent_logo/14/logo_maktour_highrest__2.png"></div>
								<div class="isi-res">
									<h3>Maktour Travel</h3>
									<div class="rat-res">
										<div class="rat-l">
											<div class="stars">
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
											</div>
										</div>
										<div class="rat-r">
											4.5
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="ust-res">
										<div class="img-ust-res"><img src="img/testi.png"></div>
										<h4>Ust. Abdullah Abu Ali</h4>
										<div class="clearfix"></div>
									</div>
									<div class="place-res">
										<span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span>Surabaya
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 tra-res-wrap">
						<a href="">
							<div class="travel-list">
								<div class="img-res"><img src="http://m.ikhram.com/uploads/agent/agent_logo/14/logo_maktour_highrest__2.png"></div>
								<div class="isi-res">
									<h3>Maktour Travel</h3>
									<div class="rat-res">
										<div class="rat-l">
											<div class="stars">
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
											</div>
										</div>
										<div class="rat-r">
											4.5
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="ust-res">
										<div class="img-ust-res"><img src="img/testi.png"></div>
										<h4>Ust. Abdullah Abu Ali</h4>
										<div class="clearfix"></div>
									</div>
									<div class="place-res">
										<span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span>Surabaya
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 tra-res-wrap">
						<a href="">
							<div class="travel-list">
								<div class="img-res"><img src="http://m.ikhram.com/uploads/agent/agent_logo/14/logo_maktour_highrest__2.png"></div>
								<div class="isi-res">
									<h3>Maktour Travel</h3>
									<div class="rat-res">
										<div class="rat-l">
											<div class="stars">
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
											</div>
										</div>
										<div class="rat-r">
											4.5
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="ust-res">
										<div class="img-ust-res"><img src="img/testi.png"></div>
										<h4>Ust. Abdullah Abu Ali</h4>
										<div class="clearfix"></div>
									</div>
									<div class="place-res">
										<span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span>Surabaya
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 tra-res-wrap">
						<a href="">
							<div class="travel-list">
								<div class="img-res"><img src="http://m.ikhram.com/uploads/agent/agent_logo/14/logo_maktour_highrest__2.png"></div>
								<div class="isi-res">
									<h3>Maktour Travel</h3>
									<div class="rat-res">
										<div class="rat-l">
											<div class="stars">
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
											</div>
										</div>
										<div class="rat-r">
											4.5
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="ust-res">
										<div class="img-ust-res"><img src="img/testi.png"></div>
										<h4>Ust. Abdullah Abu Ali</h4>
										<div class="clearfix"></div>
									</div>
									<div class="place-res">
										<span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span>Surabaya
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 tra-res-wrap">
						<a href="">
							<div class="travel-list">
								<div class="img-res"><img src="http://m.ikhram.com/uploads/agent/agent_logo/14/logo_maktour_highrest__2.png"></div>
								<div class="isi-res">
									<h3>Maktour Travel</h3>
									<div class="rat-res">
										<div class="rat-l">
											<div class="stars">
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
											</div>
										</div>
										<div class="rat-r">
											4.5
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="ust-res">
										<div class="img-ust-res"><img src="img/testi.png"></div>
										<h4>Ust. Abdullah Abu Ali</h4>
										<div class="clearfix"></div>
									</div>
									<div class="place-res">
										<span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span>Surabaya
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 tra-res-wrap">
						<a href="">
							<div class="travel-list">
								<div class="img-res"><img src="http://m.ikhram.com/uploads/agent/agent_logo/14/logo_maktour_highrest__2.png"></div>
								<div class="isi-res">
									<h3>Maktour Travel</h3>
									<div class="rat-res">
										<div class="rat-l">
											<div class="stars">
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
											</div>
										</div>
										<div class="rat-r">
											4.5
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="ust-res">
										<div class="img-ust-res"><img src="img/testi.png"></div>
										<h4>Ust. Abdullah Abu Ali</h4>
										<div class="clearfix"></div>
									</div>
									<div class="place-res">
										<span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span>Surabaya
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 tra-res-wrap">
						<a href="">
							<div class="travel-list">
								<div class="img-res"><img src="http://m.ikhram.com/uploads/agent/agent_logo/14/logo_maktour_highrest__2.png"></div>
								<div class="isi-res">
									<h3>Maktour Travel</h3>
									<div class="rat-res">
										<div class="rat-l">
											<div class="stars">
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
											</div>
										</div>
										<div class="rat-r">
											4.5
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="ust-res">
										<div class="img-ust-res"><img src="img/testi.png"></div>
										<h4>Ust. Abdullah Abu Ali</h4>
										<div class="clearfix"></div>
									</div>
									<div class="place-res">
										<span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span>Surabaya
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 tra-res-wrap">
						<a href="">
							<div class="travel-list">
								<div class="img-res"><img src="http://m.ikhram.com/uploads/agent/agent_logo/14/logo_maktour_highrest__2.png"></div>
								<div class="isi-res">
									<h3>Maktour Travel</h3>
									<div class="rat-res">
										<div class="rat-l">
											<div class="stars">
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
											</div>
										</div>
										<div class="rat-r">
											4.5
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="ust-res">
										<div class="img-ust-res"><img src="img/testi.png"></div>
										<h4>Ust. Abdullah Abu Ali</h4>
										<div class="clearfix"></div>
									</div>
									<div class="place-res">
										<span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span>Surabaya
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 tra-res-wrap">
						<a href="">
							<div class="travel-list">
								<div class="img-res"><img src="http://m.ikhram.com/uploads/agent/agent_logo/14/logo_maktour_highrest__2.png"></div>
								<div class="isi-res">
									<h3>Maktour Travel</h3>
									<div class="rat-res">
										<div class="rat-l">
											<div class="stars">
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
											</div>
										</div>
										<div class="rat-r">
											4.5
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="ust-res">
										<div class="img-ust-res"><img src="img/testi.png"></div>
										<h4>Ust. Abdullah Abu Ali</h4>
										<div class="clearfix"></div>
									</div>
									<div class="place-res">
										<span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span>Surabaya
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 tra-res-wrap">
						<a href="">
							<div class="travel-list">
								<div class="img-res"><img src="http://m.ikhram.com/uploads/agent/agent_logo/14/logo_maktour_highrest__2.png"></div>
								<div class="isi-res">
									<h3>Maktour Travel</h3>
									<div class="rat-res">
										<div class="rat-l">
											<div class="stars">
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
											</div>
										</div>
										<div class="rat-r">
											4.5
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="ust-res">
										<div class="img-ust-res"><img src="img/testi.png"></div>
										<h4>Ust. Abdullah Abu Ali</h4>
										<div class="clearfix"></div>
									</div>
									<div class="place-res">
										<span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span>Surabaya
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 tra-res-wrap">
						<a href="">
							<div class="travel-list">
								<div class="img-res"><img src="http://m.ikhram.com/uploads/agent/agent_logo/14/logo_maktour_highrest__2.png"></div>
								<div class="isi-res">
									<h3>Maktour Travel</h3>
									<div class="rat-res">
										<div class="rat-l">
											<div class="stars">
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
											</div>
										</div>
										<div class="rat-r">
											4.5
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="ust-res">
										<div class="img-ust-res"><img src="img/testi.png"></div>
										<h4>Ust. Abdullah Abu Ali</h4>
										<div class="clearfix"></div>
									</div>
									<div class="place-res">
										<span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span>Surabaya
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 tra-res-wrap">
						<a href="">
							<div class="travel-list">
								<div class="img-res"><img src="http://m.ikhram.com/uploads/agent/agent_logo/14/logo_maktour_highrest__2.png"></div>
								<div class="isi-res">
									<h3>Maktour Travel</h3>
									<div class="rat-res">
										<div class="rat-l">
											<div class="stars">
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
												<span aria-hidden="true" class="glyphicon glyphicon-star no-star"></span>
											</div>
										</div>
										<div class="rat-r">
											4.5
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="ust-res">
										<div class="img-ust-res"><img src="img/testi.png"></div>
										<h4>Ust. Abdullah Abu Ali</h4>
										<div class="clearfix"></div>
									</div>
									<div class="place-res">
										<span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span>Surabaya
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</a>
					</div>
					<a href="infinite-travel.html" class="jscroll-next">next</a>