<div class="col-sm-4 ust-pg-list">
				 		<div class="ust-pg-br hvr-bob">
					 		<div class="foto-ustad hvr-grow">
					 			<a href=""><img src="https://kabarnet.files.wordpress.com/2011/10/solmed1.jpg"></a>
					 		</div>
					 		<div class="isi-ustad">
					 			<h3><a href="">Ustad Solmed Baharudin Wahid</a></h3>
					 			<a href="">Travel Mina</a>,<a href="">Travel Maktour</a>,<a href="">Travel Rafansher</a> 
					 			<div class="clearfix"></div>
					 		</div>
					 		<div class="clearfix"></div>
				 		</div>
				 		<div class="clearfix"></div>
				 	</div>
				 	<div class="col-sm-4 ust-pg-list">
				 		<div class="ust-pg-br hvr-bob">
					 		<div class="foto-ustad hvr-grow">
					 			<a href=""><img src="https://kabarnet.files.wordpress.com/2011/10/solmed1.jpg"></a>
					 		</div>
					 		<div class="isi-ustad">
					 			<h3><a href="">Ustad Solmed Baharudin Wahid</a></h3>
					 			<a href="">Travel Mina</a>,<a href="">Travel Maktour</a>,<a href="">Travel Rafansher</a> 
					 			<div class="clearfix"></div>
					 		</div>
					 		<div class="clearfix"></div>
				 		</div>
				 		<div class="clearfix"></div>
				 	</div>
				 	<div class="col-sm-4 ust-pg-list">
				 		<div class="ust-pg-br hvr-bob">
					 		<div class="foto-ustad hvr-grow">
					 			<a href=""><img src="https://kabarnet.files.wordpress.com/2011/10/solmed1.jpg"></a>
					 		</div>
					 		<div class="isi-ustad">
					 			<h3><a href="">Ustad Solmed Baharudin Wahid</a></h3>
					 			<a href="">Travel Mina</a>,<a href="">Travel Maktour</a>,<a href="">Travel Rafansher</a> 
					 			<div class="clearfix"></div>
					 		</div>
					 		<div class="clearfix"></div>
				 		</div>
				 		<div class="clearfix"></div>
				 	</div>
				 	<div class="col-sm-4 ust-pg-list">
				 		<div class="ust-pg-br hvr-bob">
					 		<div class="foto-ustad hvr-grow">
					 			<a href=""><img src="https://kabarnet.files.wordpress.com/2011/10/solmed1.jpg"></a>
					 		</div>
					 		<div class="isi-ustad">
					 			<h3><a href="">Ustad Solmed Baharudin Wahid</a></h3>
					 			<a href="">Travel Mina</a>,<a href="">Travel Maktour</a>,<a href="">Travel Rafansher</a> 
					 			<div class="clearfix"></div>
					 		</div>
					 		<div class="clearfix"></div>
				 		</div>
				 		<div class="clearfix"></div>
				 	</div>
				 	<div class="col-sm-4 ust-pg-list">
				 		<div class="ust-pg-br hvr-bob">
					 		<div class="foto-ustad hvr-grow">
					 			<a href=""><img src="https://kabarnet.files.wordpress.com/2011/10/solmed1.jpg"></a>
					 		</div>
					 		<div class="isi-ustad">
					 			<h3><a href="">Ustad Solmed Baharudin Wahid</a></h3>
					 			<a href="">Travel Mina</a>,<a href="">Travel Maktour</a>,<a href="">Travel Rafansher</a> 
					 			<div class="clearfix"></div>
					 		</div>
					 		<div class="clearfix"></div>
				 		</div>
				 		<div class="clearfix"></div>
				 	</div>
				 	<div class="col-sm-4 ust-pg-list">
				 		<div class="ust-pg-br hvr-bob">
					 		<div class="foto-ustad hvr-grow">
					 			<a href=""><img src="https://kabarnet.files.wordpress.com/2011/10/solmed1.jpg"></a>
					 		</div>
					 		<div class="isi-ustad">
					 			<h3><a href="">Ustad Solmed Baharudin Wahid</a></h3>
					 			<a href="">Travel Mina</a>,<a href="">Travel Maktour</a>,<a href="">Travel Rafansher</a> 
					 			<div class="clearfix"></div>
					 		</div>
					 		<div class="clearfix"></div>
				 		</div>
				 		<div class="clearfix"></div>
				 	</div>
				 	<div class="col-sm-4 ust-pg-list">
				 		<div class="ust-pg-br hvr-bob">
					 		<div class="foto-ustad hvr-grow">
					 			<a href=""><img src="https://kabarnet.files.wordpress.com/2011/10/solmed1.jpg"></a>
					 		</div>
					 		<div class="isi-ustad">
					 			<h3><a href="">Ustad Solmed Baharudin Wahid</a></h3>
					 			<a href="">Travel Mina</a>,<a href="">Travel Maktour</a>,<a href="">Travel Rafansher</a> 
					 			<div class="clearfix"></div>
					 		</div>
					 		<div class="clearfix"></div>
				 		</div>
				 		<div class="clearfix"></div>
				 	</div>
				 	<div class="col-sm-4 ust-pg-list">
				 		<div class="ust-pg-br hvr-bob">
					 		<div class="foto-ustad hvr-grow">
					 			<a href=""><img src="https://kabarnet.files.wordpress.com/2011/10/solmed1.jpg"></a>
					 		</div>
					 		<div class="isi-ustad">
					 			<h3><a href="">Ustad Solmed Baharudin Wahid</a></h3>
					 			<a href="">Travel Mina</a>,<a href="">Travel Maktour</a>,<a href="">Travel Rafansher</a> 
					 			<div class="clearfix"></div>
					 		</div>
					 		<div class="clearfix"></div>
				 		</div>
				 		<div class="clearfix"></div>
				 	</div>
				 	<div class="col-sm-4 ust-pg-list">
				 		<div class="ust-pg-br hvr-bob">
					 		<div class="foto-ustad hvr-grow">
					 			<a href=""><img src="https://kabarnet.files.wordpress.com/2011/10/solmed1.jpg"></a>
					 		</div>
					 		<div class="isi-ustad">
					 			<h3><a href="">Ustad Solmed Baharudin Wahid</a></h3>
					 			<a href="">Travel Mina</a>,<a href="">Travel Maktour</a>,<a href="">Travel Rafansher</a> 
					 			<div class="clearfix"></div>
					 		</div>
					 		<div class="clearfix"></div>
				 		</div>
				 		<div class="clearfix"></div>
				 	</div>
				 	<div class="col-sm-4 ust-pg-list">
				 		<div class="ust-pg-br hvr-bob">
					 		<div class="foto-ustad hvr-grow">
					 			<a href=""><img src="https://kabarnet.files.wordpress.com/2011/10/solmed1.jpg"></a>
					 		</div>
					 		<div class="isi-ustad">
					 			<h3><a href="">Ustad Solmed Baharudin Wahid</a></h3>
					 			<a href="">Travel Mina</a>,<a href="">Travel Maktour</a>,<a href="">Travel Rafansher</a> 
					 			<div class="clearfix"></div>
					 		</div>
					 		<div class="clearfix"></div>
				 		</div>
				 		<div class="clearfix"></div>
				 	</div>
				 	<div class="col-sm-4 ust-pg-list">
				 		<div class="ust-pg-br hvr-bob">
					 		<div class="foto-ustad hvr-grow">
					 			<a href=""><img src="https://kabarnet.files.wordpress.com/2011/10/solmed1.jpg"></a>
					 		</div>
					 		<div class="isi-ustad">
					 			<h3><a href="">Ustad Solmed Baharudin Wahid</a></h3>
					 			<a href="">Travel Mina</a>,<a href="">Travel Maktour</a>,<a href="">Travel Rafansher</a> 
					 			<div class="clearfix"></div>
					 		</div>
					 		<div class="clearfix"></div>
				 		</div>
				 		<div class="clearfix"></div>
				 	</div>
				 	<div class="col-sm-4 ust-pg-list">
				 		<div class="ust-pg-br hvr-bob">
					 		<div class="foto-ustad hvr-grow">
					 			<a href=""><img src="https://kabarnet.files.wordpress.com/2011/10/solmed1.jpg"></a>
					 		</div>
					 		<div class="isi-ustad">
					 			<h3><a href="">Ustad Solmed Baharudin Wahid</a></h3>
					 			<a href="">Travel Mina</a>,<a href="">Travel Maktour</a>,<a href="">Travel Rafansher</a> 
					 			<div class="clearfix"></div>
					 		</div>
					 		<div class="clearfix"></div>
				 		</div>
				 		<div class="clearfix"></div>
				 	</div>
				 	<a href="infinite-ust.html" class="jscroll-next">next</a>